body   
.flex-container {
    display: flex;
    justify-content: center; 
    align-items: center;  
    height: 100x;} 

.link-container{ display: flex;
    justify-content: center;
    align-items: center;  
    height: 150x;
}
    
 .flex-item {
 margin: 5px;
 align-items: center;
 justify-content: center;
 padding: 7x;
 background: rgb(245, 21, 9)  ; 
 height: 25x;
    border-style: solid}
    
    
    /* unvisited link */
     a:link {
            color: rgb(1, 1, 1);}
            /* visited link */
     a:visited {
        color: rgb(5, 5, 5);}
       






body
h1 
    {color: rgb(0, 3, 0);
    font-size: 35px; 
    text-align: center;
    font-family: serif;}
    h2 {color: rgb(136, 249, 50);
        font-size: 20px; 
        text-align: center; 
        font-family: serif;}
    h3 {color:rgb(6, 6, 6);
        font-size: 16px; 
        text-align: center; 
        font-family: serif;}  
    h4 {color: rgb(1, 1, 1);
        font-size: 16px; 
        text-align: center; 
        font-family: serif;} 
    h5 {color: rgb(0, 0, 0);
        font-size: 25px; 
        text-align: center; 
        font-family: serif;}    
    h6 {color: rgb(3, 3, 3);
        font-size: 25px; 
        text-align: center; 
        font-family: serif;}   
    
       

     
    
    


    
    
    
    




   
       
       
       
       
       
       
       
       
        p {
            color: rgb(4, 0, 0);
            font-size: 16px;
            }
        
    

    
  


    
   


   