body  
.flex-container {
    font-family: 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center; 
    align-items: center;  
    height: 100x;
    } 

.link-container{ display: flex;
    justify-content: center;
    align-items: center;  
    height: 150x;
    
}
    
 .flex-item {
    font-family: 'Trebuchet MS', sans-serif;
 margin: 5px;
 align-items: center;
 justify-content: center;
 padding: 7x;
 background: rgb(255, 255, 255)  ; 
 height: 50px;
     }
    
    
    /* unvisited link */
     a:link {
            color: rgb(1, 1, 1);}
            /* visited link */
     a:visited {
        color: rgb(5, 5, 5);}
   





h1 
    {color: rgb(0, 3, 0);
    font-size: 35px; 
    text-align: center;
    
    font-family: 'Trebuchet MS', sans-serif;}
    h2 {color: rgb(250, 3, 3);
        font-size: 20px; 
        text-align: center; 
         font-family: 'Trebuchet MS', sans-serif;}
    h3 {color:rgb(6, 6, 6);
        font-size: 16px; 
        text-align: center; 
        font-family: 'Trebuchet MS', sans-serif;
          } 
      h4 {color: rgb(1, 1, 1);
        font-size: 16px; 
          text-align: center; 
        font-family: 'Trebuchet MS', sans-serif;} 
    h5 {color: rgb(0, 0, 0);
        font-size: 25px; 
        text-align: center; 
       
        font-family: 'Trebuchet MS', sans-serif;}    
    h6 {color: rgb(3, 3, 3);
        font-size: 25px; 
        text-align: center; 
       
        font-family: 'Trebuchet MS', sans-serif;}   
    h7 {color: rgb(3, 3, 3);
        font-size: 20px; 
        text-align: center; 

        font-family: 'Trebuchet MS', sans-serif;}  
    
       /* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #04AA6D;
    color: white;
  }

     
    
    


    
    
    
    




   
       
       .nextPrev{
        text-align: center;
        font-family: 'Trebuchet MS', sans-serif;
        font-size: 20px
       }
        .previous {
        
            color: black;
            font-family: 'Trebuchet MS', sans-serif;} 
          
          
          .next {
     
            color: rgb(6, 6, 6);
            font-family: 'Trebuchet MS', sans-serif;} 

          
       
       
       
       
       
        p {
            color: rgb(4, 0, 0);
            font-size: 16px;
            }
        


    
  


    
   


   